.THIS {
    display: flex;
    align-items: center;
}
.THIS .pc3-pagination__per-page .slds-input {
    border: none;
}
.THIS .pc3-pagination__go-to .slds-form-element__label {
    padding-top: 0;
    padding-right: 1rem;
    font-size: 1rem;
    color: #000;
}
.THIS .pc3-pagination__go-to .slds-input {
    border-radius: 0;
    width: 2.75rem;
}
.THIS .pc3-pagination__go-to:not(.slds-has-error) .slds-input {
    border-color: #c7c7c7;
}
.THIS .pc3-pagination__go-to.slds-has-error .slds-form-element__help {
    position: absolute;
    bottom: 100%;
    white-space: nowrap;
    margin-bottom: 0.125rem;
}
.THIS .pc3-pagination__page-btn {
    font-size: 1rem;
    color: #000;
    line-height: 1;
}
.THIS .pc3-pagination__page-btn_active {
    font-weight: 600;
}