.THIS .slds-tabs_default__nav {
  font-size: 1rem;
}
.THIS .slds-tabs_default__content {
  padding-top: 0.5rem;
}
.THIS .miy-tabs__notice {
  padding: 1rem 0;
  color: #6b6d70;
  font-style: italic;
}
.THIS .miy-tabs__notice strong {
  color: #4a90e2;
  font-weight: bold;
}
.THIS .miy-tabs__collab-tag {
  quotes: "\AB\A0" "\A0\BB";
}
.THIS .miy-tabs__collab-tag::before {
  color: #6b6d70;
  font-weight: normal;
  content: open-quote;
}
.THIS .miy-tabs__collab-tag::after {
  color: #6b6d70;
  font-weight: normal;
  content: close-quote;
}