.THIS.pc3-filter-by-store {
  max-height: 0;
  transition: max-height 300ms;
  border-bottom: 1px solid transparent;
  background-color: white;
  overflow: hidden;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  padding: 0 6.75rem;
}

.THIS.pc3-filter-by-store_expanded {
  max-height: 7.5rem;
  border-bottom-color: #dddbda;
  box-shadow: 0 2px 8px 0 rgba(123, 127, 127, 0.26);
  overflow: visible;
  z-index: -1;
}

.THIS.pc3-filter-by-store_expanding {
  overflow: hidden;
}

.THIS .pc3-filter-by-store__picklist-wrap {
  padding-top: 1.25rem;
  padding-bottom: 1.5rem;
}

.THIS .pc3-filter-by-store__picklist-wrap .slds-picklist {
  width: 100%;
}