.THIS .circle {
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 19px;
    height: 19px;

    font-size:12px;
    color:#fff;
    text-align:center;
    
}

.THIS #cirlered {
    background: red;
}

.THIS #cirlegreen {
    background: green;
}

.THIS .slds-card__body {
    padding: 0 16px 16px 12px;
    display: flex;
   /* height: 116px;*/
}

.THIS .slds-card__body > div {
 	flex: 1;
    padding: 8px 16px 0 16px;
}

.THIS .slds-card__body .summary {
	text-align: left;
}

.THIS img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
}

.THIS .slds-icon-utility-down {
    background-color: transparent;
}

.THIS .slds-icon-utility-down svg {
    fill: #54698D;
}

.THIS h3 {
    font-size: 18px;
    color: #0070D2;
    font-weight: 300;
}

.THIS .select {
    color: #BBBAB9;
    margin-top: 20px;
    text-align: center;
}