@import url("/resource/LVFont/font-faces.css");
.THIS {
  font-family: 'Louis Vuitton', Futura, sans-serif;
}
.THIS.pc-layout {
  margin-top: calc(-4.75rem - 2px);
  background: white;
}
.THIS.pc-layout_clean .pc-layout__placeholder,
.THIS.pc-layout_clean .pc-layout__recently-published {
  display: block;
}
.THIS.pc-layout_clean .pc-results,
.THIS.pc-layout_clean .pc-list,
.THIS.pc-layout_clean .pc-summary,
.THIS.pc-layout_clean .pc-availability {
  display: none;
}
.THIS.pc-layout .slds-button_brand {
  padding: 0 0.5rem;
  border-radius: 0;
  border-color: #9c7663;
  background-color: #9c7663;
  color: #f3efed;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.THIS .pc-layout__placeholder {
  display: none;
  padding: 2.25rem;
  text-align: center;
  /*
  &::after {
    display: inline-block;
    margin-top: 5.75rem;
    width: 33.5rem;
    height: 14.5rem;
    background: url('/resource/ProductCatalog/place-holder-img.png') center no-repeat;
    content: '';
  }
  */
}
.THIS .pc-layout__placeholder::before {
  display: inline-block;
  width: 6.25rem;
  height: 6.25rem;
  margin: 0;
  background: url("/resource/ProductCatalog/lv-logo.png") center no-repeat;
  content: '';
}
.THIS .pc-layout__placeholder-header {
  margin-bottom: 1.25rem;
  color: #000;
  font-size: 2rem;
  line-height: 2.75;
  text-transform: uppercase;
}
.THIS .pc-layout__placeholder-text {
  color: #d1b89a;
  font-size: 1.25rem;
  font-weight: 300;
}
.THIS .pc-layout__recently-published {
  display: none;
}

.THIS .pc-layout__recently-published-favorites {
  padding-top:10px;
}