.THIS .miy-fancy-modal__footer {
  padding-left: 1.5rem;
}
.THIS .miy-fancy-modal__footer > :first-child {
  flex-grow: 1;
  text-align: left;
}
.THIS.cMIY_FancyModal .slds-modal__content {
  padding: .75rem 5rem;
}
.THIS .spo-create-appt-modal__info {
  color: #909090;
  font-size: .8125rem;
  font-style: italic;
  text-align: center;
}
.THIS .spo-create-appt-modal__info .slds-icon {
  margin-right: 0.25rem;
  vertical-align: text-bottom;
  fill: #b9b9b9;
}
.THIS .spo-create-appt-modal__client {
  color: #4a90e2;
  font-weight: bold;
}
.THIS .spo-create-appt-modal__quote-amnt {
  font-weight: bold;
}
.THIS .spo-create-appt-modal__confirm-mandatory {
  padding-top: 0.5rem;
}