.THIS .slds-card__header {
    padding-top: 0;
    margin-bottom: 0;
    
}

.THIS .slds-card__body {
    padding: 0 16px 0px 12px;
    /*padding: 0 0 0 0;*/
    display: flex;
    background-color:white;
    /*background-color: rgb(244, 246, 249);*/
}

.THIS .slds-card__body > div {
 	flex: 1;
    padding: 8px 16px 0 16px;
    
}

.THIS .slds-card__body .summary {
	text-align: left;
}

.THIS img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
}

.THIS .slds-icon-standard-household {
    background-color: transparent;
}

.THIS .slds-icon-standard-household svg {
    fill: #54698D;
}

.THIS h3 {
    font-size: 13px;/*18px;*/
    color: #0070D2;
    font-weight: 300;
}

.THIS .select {
    color: #BBBAB9;
    margin-top: 20px;
    text-align: center;
}

/* Picture gallery */
.THIS .slds-modal__container {
    margin-top: 100px;
    height: 90%;
    width: 90%;
    max-width: initial;
}

.THIS .slds-modal__close {
    position: absolute;
    top: 100px;
    right: 5%;
	margin-top: 2% /* not hide close button when oneSystemMessage on header (for example Sandbox message) */
}