.THIS .leftPaddingclass {
	padding-left: 2rem;
}

.THIS .disabled {
    background-color: inherit;
    pointer-events: none;
    border-style: none;
}

.THIS .wordWrap {
    word-wrap: break-word;
    font-size: 0.65rem;
}