.layout_content {
    padding: 20px;
    display: flex;
}

.div_column1 {
    flex: 2;
}

.div_column2 {
    flex: 1;
}

.div_container {
    display: flex;
    margin-bottom: 17px;
    margin-right: 10%;
    align-items: baseline;
}

.div_column1 .text_label {
    color: #706E6B;
    white-space: nowrap;
    font-size: 12px;
    flex: 2;
}

.div_column1 .text_value {
    font-size: 14px;
    font-weight: bold;
    flex: 8;
}

.div_column2 .text_label {
    color: #706E6B;
    white-space: nowrap;
    font-size: 12px;
    flex: 1;
}

.div_column2 .text_value {
    font-size: 14px;
    font-weight: bold;
    flex: 2;
    margin-left: 10px;
}

.link {}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.file_container {
    flex: 8;
    display: flex;
}