/*@media print {
 -webkit-print-color-adjust: exact;
}*/

.THIS .slds-input, .THIS .slds-checkbox, .THIS .slds-select, .THIS .textarea, .THIS .uiInputTextArea, .THIS .slds-form-element, .THIS .slds-textarea {
    background-color: inherit;/*rgb(224, 229, 238);*/
    /*border-color: rgb(168, 183, 199);
    cursor: not-allowed;
    user-select: none;*/
    pointer-events: none;
    border-style: none;
    /*font-weight: bold;*/
}

/* remove arrows in Select */
.THIS .slds-select_container:before, .THIS .slds-select_container:after {
    content: none;
}

/* remove mandatory icon, hide disabled, hide color tabs, hide icon on Date picker */
.THIS .slds-required, .THIS .disabledStyle, .THIS .slds-tabs--scoped, .THIS .datePicker-openIcon {
    display: none;
}

/* no icon at bottom right*/
.THIS .textarea, .THIS .slds-textarea {
    resize: none;
}

/* remove borde from Date input */
.THIS .hideBorder, .THIS .uiInput--input .input, .THIS .uiInput--input.input {
    border: none;
    padding: 0;
}