@charset "UTF-8";

.highlight__profile-pic-badge > lightning-formatted-rich-text > span > img    {
    position: absolute; 
     top: -7px;
    left: -7px;
     /* top: 35px;
    left: 10px; */
    /* position: relative;
    top:-9px;
    left: -18px; */
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    z-index: 10;
}

.highlight__profile-pic > lightning-formatted-rich-text > span > img  {
    border-radius: 50%;
    min-width: 40px;
    /* margin-top: 11.5px; */
    top:6.5px;
    /* right:2px; */
    position: relative;

}

/* @media screen and (min-width:1000px){
    .highlight__profile-pic-badge > lightning-formatted-rich-text > span > img    {
        position: absolute;
        top: 44px;
        left: 16px;    
    } */

/* @media screen and (max-width:100000px){
        .THIS .highlight__profile-pic-badge > lightning-formatted-rich-text > span > img    {
            position: absolute;
            top: 35px;
            left: 9px;    
        }

} */