.THIS.cMIY_FancyModal .slds-modal__content {
  padding: .75rem 5rem;
}
.THIS .spo-confirm-quote-modal__info {
  color: #909090;
  font-size: .8125rem;
  font-style: italic;
  text-align: center;
}
.THIS .spo-confirm-quote-modal__info .slds-icon {
  margin-right: 0.25rem;
  vertical-align: text-bottom;
  fill: #b9b9b9;
}
.THIS .spo-confirm-quote-modal__client {
  color: #4a90e2;
  font-weight: bold;
}
.THIS .spo-confirm-quote-modal__quote-amnt {
  font-weight: bold;
}
.THIS .spo-confirm-quote-modal__confirm-mandatory {
  padding-top: 0.5rem;
}