/*.THIS .buttonMenu {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
}
*/
/*.THIS {
}

.THIS .titleClass {
    display: inline-block;
}
.THIS .titleClass .slds-form-element__static {
    font-size: 1.1rem;
}

.THIS .slds-form-element__static {
    font-weight: 700;
    display: initial;
    font-size: 0.85rem;
}
.THIS .imgClass {
    text-align: center;
}
.THIS .imgClass img {
    height: 40px !important;
    width: 40px !important;
    border-radius: 25px;
}

.THIS .iconGreen svg {
    fill: green !important;
}
.THIS .iconRed svg {
    fill: red !important;
}

.THIS .hideStandardCallIcon svg {
    display: none;
}

.THIS .slds-media__figure {
    margin-bottom: -2.5rem;
}

.THIS .slds-box {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
	font-weight: 700;
}
.THIS .slds-input, .THIS .slds-checkbox, .THIS .slds-select, .THIS .textarea, .THIS .uiInputTextArea, .THIS .slds-form-element, .THIS .slds-textarea {
    background-color: inherit;
    pointer-events: none;
    border-style: none;
}

.THIS .wordWrap {
    word-wrap: break-word;
    font-size: 0.85rem;
}

.THIS .slds-card {
    border: 0px;
    background-color: #bfa69a;
    color: #533f34;
	font-weight: 700;
}

.THIS .slds-card__header {
    padding: 0;
    margin: 0;
}

.THIS .slds-card__body {
    margin-bottom: 0;
    position: relative;
    top: -0.5rem;
}

.THIS .addressClass .slds-form-element__static {
    word-wrap: break-word;
    line-height: 1.25;
}
.THIS .imgLanguageClass img {
    margin-bottom: 0;
    border-radius: 20px;
    width: 1.8rem !important;
    height: 1.8rem !important;
    position: relative;
    top: -0.2rem;
}

.THIS .birthdayClass {
    position: relative;
    top: -0.5rem;
}

.THIS .imgBirthdayClass, .THIS .imgBirthdayClass img {
    margin-bottom: 0;
    width: 2.3rem !important;
    height: 2.3rem !important;
    position: relative;
    top: 0;
    margin: 0;
}

.THIS .slds-avatar--circle {
    display: inline-flex;
    top: -0.2rem;
    position: relative;
    margin-left: 0.25rem;
}

.THIS .slds-avatar--circle img {
	width: 2rem !important;
    height: 2rem !important;
}

.THIS .slds-icon_container {
    top: -0.1rem;
    position: relative;
}

.THIS .lightningInput .slds-form-element__control {
    position: relative;
    top: 0.15rem;
}

.THIS .slds-input {
    padding: 0;
    line-height: 1rem;
    min-height: calc(1rem + (1px * 2));
}

.THIS .emailClass a {
    color: #533f34;
}

.THIS .border {
    border-top: 1px solid #533f34;
    padding-top: .25rem;
    margin-top: .25rem;
    justify-content: start;
}

.THIS .indicator {
    justify-content: start;
}


.THIS .borderAlign {
    padding-top:0.15rem;
}

.THIS .alignOutputField div {
    display: inline-block;
}

.THIS .slds-form-element__label {
    font-weight: 400;
    text-align: left !important;
}

.THIS .slds-form--horizontal .slds-form-element__label {
    padding-left: 2rem;
}

.THIS .buttonMenu {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
}*/
@import url('/resource/LVFont/font-faces.css');
.THIS {
    font-family: "Louis Vuitton", Futura, sans-serif;
}

.THIS .slds-box {
    color: #362f31;
    padding: 0.5rem;
}

.THIS .highlight__main {
    /*padding: 0.5rem 1rem 1rem 0;*/
    padding: 0 .5rem 0 0;
}

.THIS .highlight__profile-pic {
    background-color: #a09090;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 3px #f2cf5b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    left: 5px;
}

.THIS .highlight__profile-pic > img {
    border-radius: 50%;
}

.THIS .highlight__profile-pic-badge > img {
    position: absolute;
    top: -8px;
    left: -8px;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
}

.THIS .slds-form-element__label {
    color: #9b805e;
    text-transform: uppercase;
    font-weight: normal;
    line-height: normal;
}

.THIS .highlight__edit-btn {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    margin-left: 1rem;
}

.THIS .highlight__last-name .slds-form-element__static {
    text-transform: uppercase;
    font-weight: 500; /* 600 in design */
}

.THIS .highlight__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    text-decoration: none;
}

.THIS .highlight__title .slds-form-element__static {
    font-size: 1.25rem;
    padding: 0;
    min-height: 0;
    line-height: 1.3;
}

.THIS .highlight__subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    white-space: nowrap;
    /*margin-bottom: 2rem; *//* 1rem */
    margin-bottom: .5rem; /* 1rem */
}

.THIS .highlight__subtitle .slds-form-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 1rem;
}

.THIS .highlight__subtitle .slds-form-element__label {
    line-height: 1.6;
    margin-right: 0.125rem;
    width: auto;
    top: 0;
}

.THIS .highlight__subtitle .slds-form-element__static {
    padding: 0;
    font-weight: 500; /* 600 in design */
    font-size: .75rem;
    min-height: 0;
}

.THIS .highlight__flag {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.THIS .highlight__flag > img {
    width: 1.5rem !important;
    height: auto !important;
    margin: 0 1rem;
}

.THIS .highlight__detail {
    /*margin-bottom: 0.85rem;*/
}

.THIS .highlight__detail:nth-child(-n+3) {
    /*margin-bottom: 1.35rem;*/
}

.THIS .highlight__detail .slds-form-element__control {
    position: relative;
    font-size: 16px;
    top: -0.2rem;
}

.THIS .highlight__detail .slds-input {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.THIS .highlight__detail a .slds-input {
    color: #4a90e2;
    text-decoration: underline;
}

.THIS .highlight__detail input.slds-input[type="date"] {
    min-width: 150px;
}

.THIS .highlight__icon-detail {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
}

.THIS .highlight__icon-detail-tooltip {
    display: none;
    position: absolute;
    background: black;/*#362f31;*/
    color: white;/*#fadab3;*/
    text-align: center;
    padding: 8px 5px;
    bottom: calc(100% + 6px);
    border-radius: 4px;
    white-space: nowrap;
    left: calc(50% + 16px);
    transform: translateX(-50%);
    font-size: 11px;
}

.THIS .highlight__icon-detail-tooltip::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #362f31 transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: calc(50% - 4px);
}

.THIS .highlight__icon-detail:hover .highlight__icon-detail-tooltip:not(:empty) {
    display: inline-block;
}

.THIS .highlight__footer {
    /*height: 42px;*/
    height: 3rem;/*2.25rem;*/
    background-color: rgb(190,165,152); /* #eeeeee in design */
    margin: 0.25rem 0 -0.5rem;
    font-size: 17px;
    color: #362f31; /* #a09090 in design */
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.THIS .highlight__footer_left {
    margin-left: -0.5rem;
    border-bottom-left-radius: 4px;
}

.THIS .highlight__footer_right {
    border-left: 1px solid #a09090;
    margin-right: -0.5rem;
    border-bottom-right-radius: 4px;
}

.THIS .highlight__requests {
    border-left: 1px solid #d4d4d4;
    margin: -0.5rem -0.5rem 0 0;
    margin-left: 0.5rem;
    /* justify-content: center; */
    /* padding: 1.5rem; */
    /* flex-grow: 0.2; */
}

.THIS .highlight__icon-detail-icon,
.THIS .highlight__icon-detail lightning-formatted-email a {
    position: relative;
    color: inherit;
}

.THIS .highlight__icon-detail-icon::before,
.THIS .highlight__icon-detail lightning-formatted-email .slds-icon,
.THIS .highlight__icon-detail lightning-click-to-dial .slds-icon,
.THIS .highlight__icon-detail-icon_type_phone > span:empty::before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
    fill: #362f31; /* #a09090 in design */
}

.THIS .highlight__icon-detail-icon_type_phone::before {
    content: none;
}

.THIS .highlight__icon-detail-icon_type_phone > span {
    font-size: 0;
    vertical-align: bottom;
}

.THIS .highlight__icon-detail-icon_type_phone > span:empty::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='call' width='100%25' height='100%25' fill='%23362f31'%3E%3Cpath d='M22.4 17.5l-2.8-2.3c-.7-.5-1.6-.5-2.2 0L15 16.9c-.3.3-.7.2-1-.1l-3.6-3.2L7.2 10c-.3-.3-.3-.6-.1-1l1.7-2.4c.5-.6.5-1.5 0-2.2L6.5 1.6C5.8.8 4.6.7 3.8 1.5L1.4 3.9c-.4.3-.6.9-.6 1.4.3 4.7 2.4 9.1 5.5 12.3s7.6 5.2 12.3 5.5c.6 0 1.1-.2 1.4-.6l2.4-2.4c.9-.7.9-2 0-2.6z'%3E%3C/path%3E%3C/svg%3E");
}

/*.THIS .highlight__icon-detail-icon_type_phone > span:not(.slds-icon_container)::after,
.THIS .highlight__icon-detail-icon_type_phone > a > span::after {
    content: 'Phone';
    font-size: 14px;
}*/

/* Hide phone number from the Contact bannier when CTI>Click-to-dial is enabled */
.THIS .highlight__icon-detail-icon_type_phone > a > span:not(.slds-icon_container) {
  display: none;
}

/* Hide standard phone icon when CTI>Click-to-dial is enabled */
.THIS .hideStandardCallIcon svg {
    display: none;
}

/* Keep current color when CTI>Click-to-dial is enabled */
.THIS .highlight__icon-detail-icon_type_phone > a {
    color: currentColor;
}

.THIS .highlight__icon-detail-icon_type_email::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='email' width='100%25' height='100%25' fill='%23362f31'%3E%3Cpath d='M11.5 13.9c.3.3.7.3 1 0l10.4-9.7c.2-.4.1-1-.6-1l-20.6.1c-.6 0-1.1.5-.6.9l10.4 9.7zM23.1 8c0-.5-.6-.8-.9-.4L14 15.1c-.6.5-1.3.8-2 .8s-1.4-.3-2-.8L1.9 7.6c-.4-.4-.9-.1-.9.4C.9 7.8.9 18.5.9 18.5c0 1 .9 1.8 1.9 1.8h18.4c1 0 1.9-.8 1.9-1.8V8z'%3E%3C/path%3E%3C/svg%3E");
}

.THIS .highlight__icon-detail-icon_type_sms::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='sms' width='100%25' height='100%25' fill='%23362f31'%3E%3Cpath d='M12 1.8C5.9 1.8 1 6.4 1 12c0 1.7.5 3.4 1.3 4.8.1.3.2.6.1.8l-1.4 4c-.2.3.2.6.6.6l3.9-1.6c.3-.1.5 0 .8.1 1.7.9 3.7 1.5 5.8 1.5 6 0 11-4.6 11-10.2C23 6.4 18.1 1.8 12 1.8zM7.6 13.7c-.2.2-.3.4-.5.6s-.4.2-.7.3c-.2.1-.5.1-.8.1-.3 0-.7 0-1-.2-.3-.1-.6-.3-.9-.6l-.1-.1s0-.1.1-.2l.8-.7c.1-.1.2-.1.2 0s.1.1.1.1c.1.2.2.2.4.3.2.2.4.2.7.1.1 0 .1 0 .2-.1l.2-.1V13c0-.2 0-.2-.1-.3-.1-.1-.2-.1-.4-.2s-.4-.1-.6-.2l-.6-.3c-.3-.1-.4-.3-.5-.5-.2-.2-.3-.5-.3-.8 0-.4.1-.6.2-.9.2-.2.3-.4.5-.5.2-.2.4-.3.7-.3.6-.2 1.1-.2 1.7 0 .3.1.5.3.7.4l.1.1c.1 0 .1.1 0 .2l-.7.7c-.1.1-.3.1-.4 0l-.1-.1c-.3-.1-.6-.2-.9-.1h-.2l-.1.2v.2c0 .1 0 .2.1.2 0 .1.2.1.4.2s.3.2.6.2l.6.3c.2.1.4.3.5.5.2.2.3.5.3.9 0 .3-.1.5-.2.8zm7.6.6c0 .3-.2.5-.5.5h-.4c-.3 0-.5-.2-.5-.5v-2.7c0-.3-.3-.3-.4-.1l-.8 2.1c0 .2-.2.2-.4.2h-.3c-.2 0-.4-.1-.5-.2l-.8-2.1c-.1-.2-.4-.2-.4.1v2.7c0 .3-.3.5-.6.5h-.4c-.3 0-.4-.2-.4-.5V9.2c0-.2.2-.4.4-.4h1.2c.2 0 .4.1.4.2l.9 2.4c.1.2.4.2.4 0l1-2.4c0-.1.2-.2.4-.2h1.2c.3 0 .5.2.5.4v5.1zm4.9-.6c-.2.2-.3.5-.5.6-.2.1-.4.3-.7.4s-.5.1-.8.1c-.4 0-.7-.1-1-.2-.3-.2-.7-.3-.9-.6l-.1-.1c0-.1 0-.1.1-.2l.7-.7c.1-.1.2-.1.3-.1s.1.2.1.2l.3.3c.3.1.5.1.8.1.1-.1.2-.1.2-.1l.1-.2.1-.1c0-.2-.1-.3-.1-.3-.1-.1-.2-.2-.4-.2s-.4-.2-.6-.2c-.3-.1-.5-.2-.7-.3-.2-.1-.4-.3-.5-.5-.2-.2-.3-.5-.3-.9 0-.3.1-.6.2-.8.2-.3.3-.4.5-.6.2-.1.5-.3.7-.3.6-.1 1.1-.1 1.7 0 .3.1.5.3.7.5l.1.1c.1 0 .1.2 0 .3l-.7.7c-.1.1-.2.1-.3 0l-.2-.2c-.3-.1-.6-.2-.9-.1 0 0-.1 0-.1.1l-.2.1v.2c0 .1 0 .2.1.2.1.1.2.2.4.3.2 0 .4.1.6.2.2 0 .4.1.6.2.3.2.4.4.6.5.1.3.2.5.2.9.1.2 0 .5-.1.7z'%3E%3C/path%3E%3C/svg%3E");
}

.THIS .highlight__icon-detail-icon_type_address::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='home' width='100%25' height='100%25' fill='%23362f31'%3E%3Cpath d='M22.6 12.5h-2.3v10.1c0 .3-.2.5-.5.5h-4.6c-.2 0-.4-.2-.4-.5v-7.8H9.2v7.8c0 .3-.2.5-.4.5H4.2c-.3 0-.5-.2-.5-.5V12.5H1.4c-.2 0-.4-.1-.4-.3-.1-.2-.1-.4.1-.5L11.7 1.1c.2-.2.5-.2.6 0l10.6 10.6c.2.1.2.3.1.5s-.2.3-.4.3z'%3E%3C/path%3E%3C/svg%3E");
}

.THIS .highlight__icon-detail-icon::after,
.THIS .highlight__icon-detail lightning-formatted-email a::after {
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 2px rgb(190,165,152);
    top: -2px;
    left: -3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.THIS .highlight__icon-detail_badge_green .highlight__icon-detail-icon::after,
.THIS .highlight__icon-detail_badge_green lightning-formatted-email a::after {
    content: '';
    background: #62d863;
}

.THIS .highlight__icon-detail_badge_red .highlight__icon-detail-icon::after,
.THIS .highlight__icon-detail_badge_red lightning-formatted-email a::after {
    content: '';
    background: #f93c29;
}

.THIS .highlight__icon-detail_disabled {
    opacity: 0.3;
}
.THIS .highlight__icon-detail_disabled a {
    cursor: default;
    text-decoration: none;
}

.THIS .highlight__copy-details-btn {
    cursor: pointer;
}

.THIS .highlight__copy-details-textarea {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
}

.THIS .highlight__no-dream-id.slds-form-element__control {
    width: auto;
}