/* Label when a color is selected */
.THIS .colorLabelSelected {
    /*vertical-align: 18px;*/
    /*margin-left: 10px;*/
    /*margin-left: 4px;*/
    font-size: smaller;
    line-height: 0px;
}

.THIS .slds-media__figure {
    /* low margin between picture and the label */
    margin-right: 0.25rem;
}
/*
.THIS .slds-item--label {
	font-size: smaller;
    width: 100%;
}
*/
.THIS .slds-card__body {
    /*padding: 0 16px 16px 12px;*/
    padding: 0;
    display: flex;
    /*width: 103%;*/
}

.THIS .slds-card__body > div {
 	flex: 1;
    /*padding: 8px 16px 0 16px;*/
    padding: 0;
}

.THIS .fieldset {
    width: 100%;
}

.THIS .fieldsetRead {
    width: 50%;
}

.THIS .slds-media__body > :last-child {
    vertical-align: 5px !important;
}

/* Comments fields */
.THIS .slds-list--horizontal .slds-item--detail {
    width:100%;
    font-size: 9px;
}

.THIS .hideBorder {
    border: none;
    padding: 0;
}

.THIS .disabledStyle {
	opacity: 1;
    pointer-events: none;
}

.THIS .disabledStyle .slds-input, .THIS .disabledStyle .slds-checkbox, .THIS .disabledStyle .slds-select, .THIS .disabledStyle .textarea, .THIS .disabledStyle .uiInputTextArea, .THIS .disabledStyle .slds-form-element, .THIS .disabledStyle .slds-textarea {
    border-style: none;
    background-color: inherit;
}

/* remove arrows in Select */
.THIS .disabledStyle .slds-select_container:before, .THIS .disabledStyle .slds-select_container:after {
    content: none;
}