@media (max-width: 1050px) {
  .filters-holder {
    flex-wrap: wrap !important;
  }
}

.filters-holder {
  margin-right: 1rem;
  flex-wrap: nowrap;
  position: relative;
  top: -0.6rem;
}
.filter-wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
}
.icon-holder {
  display: inline-flex;
  width: 1rem;
}
.location-icon {
  width: 18px;
  height: 42px;
  transform: scale(0.34);
  align-self: flex-end;
  position: relative;
  left: 1.3rem;
  top: 3pt;
  z-index: 1;
}
.home-icon {
  width: 48px;
  max-width: fit-content;
  height: 42px;
  transform: scale(0.34);
  align-self: flex-end;
  position: relative;
  left: 0.45rem;
  top: 3pt;
  z-index: 1;
}
.filters-empty-client-list {
  margin-left: 1rem;
}

.filters-holder-reassign-step {
  margin-right: 1rem;
  flex-wrap: nowrap;
  position: relative;
  top: -0.6rem;
  flex-direction: column;
}

.filter-wrapper-reassign-step {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}
.display-none {
  display: none;
}

.filter-wrapper-reassign-step.level {
  z-index: 95;
}
.filter-wrapper-reassign-step.level-1 {
  z-index: 94;
}
.filter-wrapper-reassign-step.level-2 {
  z-index: 93;
}
.filter-wrapper-reassign-step.level-3 {
  z-index: 92;
}
.filter-wrapper-reassign-step.default-store {
  z-index: 91;
}