.surveyComment
{
	height:100px;
}
.popover
{
	max-height:300px;
	overflow-y:auto;
}
.paddingBot 
{
	padding-bottom: 10px;
}

.padding 
{
	padding-bottom: 10px;
	padding-top: 10px;
}

.panel-footer 
{
	margin-top: 15px;
}

.mfp-container 
{
	text-align: center;
}

.rowBorder 
{
	border-bottom: 1px solid #ccc;
}

#open_product 
{
	background: transparent;
	position: relative;
	padding: 20px;
	width: auto;
	max-width: 768px;
	margin: 20px auto;
}

.white-popup; 
{
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
}

a 
{
	text-decoration: none;
	color: gray;
}

.inputSearch 
{
	width: 80%;
	padding-left: 0px;
}
.error
{
	border:1px solid red  !important; 
}

.error { border:1px solid red; }
.sfSelectFixer {min-height: 0px; important}

/*cell color  VOICE 2*/
.cell-background-red{ background-color: rgba(255, 0, 0, 0.2)}
.cell-background-green{ background-color: rgba(114, 187, 83, 0.2)}
.cell-background-orange{ background-color: rgba(255, 168, 52, 0.2)}

/*Table Arrow VOICE 2*/
.tableArrow {
	font-size:40px; 
	position: absolute;
	top: 45%; 
	padding:12px; 
	color:#b87451;
	opacity: 0.5;
	background:transparent;
	border:none;
	outline:none !important;
}

.tableArrow.arrowRight{right:0;}
.tableArrow.arrowLeft{left:0;}

.tableArrow:hover {
	opacity: 1;
	cursor: pointer;
}

.tableArrow[disabled] {
	opacity: 0.1;
	cursor: auto;
}
				
				