.THIS .googleLogoDisabled {
    pointer-events:none;
    text-align: right;
    background-color: rgb(190,165,152);
    /*opacity:0.6;*/
}

.THIS .googleLogoRight {
    top: 0;
    right: 0;
    margin-right: 1rem;
    margin-top: .65rem;
}

/* Give space for the checkin icon */
.THIS .slds-input {
    padding-left: 2.5rem;
}