/*.THIS.align-table {
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
}

.THIS.title {
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
    padding-top: 4rem;
    text-decoration-line: underline;
}
.THIS .slds-card__header{
        background-color: #f3f2f2;
}*/