@import url("/resource/LVFont/font-faces.css");
/** LEGACY **/
/*
.THIS .slds-form-element__control, .THIS .slds-form_horizontal .slds-form-element__control, .THIS .slds-form--horizontal .slds-form-element__control {
    width:99%;
    display: block;
    text-align: left;
}
.THIS .slds-form--inline .slds-form-element__label {
    display: block;
}
.THIS .checkboxmiddle {
    top: 5px;
}
.THIS .slds-card__body {
    text-align: left;
    padding: 0 16px 0px 12px;
    background-color: white;
}
.THIS .slds-card__body > div {
 	flex: 1;
}
.THIS .slds-card__hierarchy-containter {
	margin-bottom: 5px;
}
.THIS .slds-select_container .slds-select {
	min-width: 170px;
}
.THIS .slds-card__header {
	font-size: 18px;
}
.THIS .slds-card__body {
    padding: 0px 16px 0px 16px;
    margin-top:-5px;
}
.THIS .header {
    display:flex;
}
.THIS.noHeader {
    position: relative;
    z-index:2;
    margin-top: -80px;
}
.THIS .searchProduct {
    width:50%;
}
.THIS .slds-grid {
     padding-top :5px;
}
*/
/** Redesign March 2018 **/
.THIS {
  font-family: 'Louis Vuitton', Futura, sans-serif;
}
.THIS.pc-filter {
  margin: -0.75rem -0.75rem -1rem;
  padding: 0.75rem 0.75rem 1rem;
  background: white;
}
.THIS.pc-filter .slds-card__header {
  padding: 0;
}
.THIS .pc-filter__store-expand-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12.75rem;
  height: 3rem;
  background-color: #f8f8f8;
  color: #56463e;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.THIS .pc-filter__store-expand-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  line-height: 0.6rem;
  vertical-align: middle;
  pointer-events: none;
}
.THIS .pc-filter__store-expand-icon .slds-icon {
  width: 0.6rem;
  height: 0.6rem;
}
.THIS .pc-filter__search {
  display: inline-flex;
  width: 20rem;
  height: 3rem;
  color: #5e4f47;
  font-size: 1.25rem;
  font-weight: 300;
  vertical-align: top;
  margin-right: 0.5rem;
}
.THIS .pc-filter__search .slds-form-element__label {
  display: none;
}
/*.THIS .pc-filter__search .slds-form-element,
.THIS .pc-filter__search .slds-form-element__control,
.THIS .pc-filter__search .slds-input {
  width: 110%;
  height: 100%;
}*/
.THIS .pc-filter__search .slds-input {
  border: none;
  border-radius: 0;
  height: 100%;
}
.THIS .pc-filter__search .slds-input:not([disabled]) {
  background-color: #fbf9f8;
}
.THIS .pc-filter__search .slds-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1.25rem;
  font-weight: 300;
}
.THIS .pc-filter__search .slds-input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1.25rem;
  font-weight: 300;
  opacity: 1;
}
.THIS .pc-filter__search .slds-input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 1.25rem;
  font-weight: 300;
  opacity: 1;
}
.THIS .pc-filter__search .slds-input:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 1.25rem;
  font-weight: 300;
}
.THIS .pc-filter__search-btn {
  height: 3rem;
  padding: 0 0.5rem;
  border-radius: 0;
  background-color: #9c7663;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.THIS .pc-filter__search-btn .lightningPrimitiveIcon {
  position: relative;
  top: -6px;
  vertical-align: middle;
}

.THIS .pc-filter__input-serach{
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow:1;
}

.THIS .pc-filter__product-library-link {
  display: flex;
  align-items: center;
}

.THIS .pc-filter__product-library-img{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.THIS .pc-filter__product-library-link-a {
  text-transform: none;
  color: #56463e;
  text-decoration: none;
  font-size: .75rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}

.THIS .pc-filter__product-library-link-a:hover {
  text-transform: none;
  color: #56463e;
  text-decoration: none;
}

.THIS .pc-filter__product-library-link-a:visited {
  text-transform: none;
  color: #56463e;
  text-decoration: none;
}