.footer-wrapper {
  bottom: 0;
  z-index: 100;
  width: 102vw;
  position: fixed;
  left: -1.6rem;
  height: 74px;
  box-shadow: 0 -2px 2px 0 rgb(0 0 0 / 10%);
  background-color: #fcfcfc;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.spinner-loader {
  position: relative;
  left: 25px;
  top: 2px;
}