.THIS .buttonCustom {
    color: #ffffff;
    padding: 1px 4px 2px;
    font-size: 16px;
    font-weight: bold;
    background-color: #468847;
}

.THIS .DueAmountNonEditableStyle{
    pointer-events: none;
    border-style: none;
}