.THIS.pc3-var-item {
    width: 6.25rem;
    height: 6.25rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    flex-shrink: 0;
    border-color: t(lvdsWestarGrey);
}
.THIS.pc3-var-item_original::before {
    content: 'Original';
    text-transform: uppercase;
    background: t(lvdsWestarGrey30);
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    color: #9b9793;
}