.clientListInfosContainer {
  background-color: #fbfbfb;
  padding: 15px;
}

.clientListInfos-label {
  font-family: "LouisVuitton-Regular";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #706e6b;
}

.clientListInfos-content {
  font-family: "LouisVuitton-Regular";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191009;
}

.clientListInfos-col {
  display: flex;
  flex-direction: column;
}

.client-list-infos-wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
}

.client-list-infos-edit-btn-wrapper {
  display: contents;
}

.progress-bar-label {
  padding: 0 0 3px 0;
  white-space: nowrap;
}

.percent {
  float: right;
}

.slds-col {
  margin-right: 1rem;
}

.progress-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.progress-status, .progress-label {
  font-size: 12px;
}

.progress-status, .progress-label, .download-content {
  white-space: nowrap;
}

.download-content {
  display: flex;
  align-items: center;
}

.progress-label {
  margin-right: 7px;
}

.progress-label.members {
  margin-right: 4.5px !important;
}

.line {
  width: -webkit-fill-available;
}