.THIS {
    display: flex;
    align-items: flex-start;
    padding-top: 2.5rem;
}

.THIS .pc3-info__prod-sheet-btn-wrap {
    flex-shrink: 0;
    height: var(--lwc-lineHeightTab, 2.5rem);
    width: 11.125rem;
    padding-right: 3.75rem;
}

.THIS .pc3-info__prod-sheet-btn-wrap .slds-button {
    white-space: nowrap;
    border-color: t(lvdsEternity);
    color: t(lvdsEternity);
    border-radius: 0;
    font-weight: 500;
}

.THIS .pc3-info__tabs {
    width: calc(100% - 11.125rem);
}

.THIS .slds-tabs_default__nav {
    border-color: t(lvdsWestarGrey70);
    justify-content: space-between;
}

.THIS .pc3-info__tabs .slds-tabs_default__nav {
    padding-left: 3.875rem;
}

.THIS .pc3-info__tabs .slds-tabs_default__link {
    color: t(lvdsEternity);
    font: t(lvdsListItemXLReg);
}

.THIS .pc3-info__tabs .slds-tabs_default__item.slds-is-active .slds-tabs_default__link {
    font-weight: 500;
}

.THIS .pc3-info__tabs .slds-tabs_default__item:hover::after {
    background-color: t(lvdsWestarGrey);
}

.THIS .pc3-info__tabs .slds-tabs_default__item.slds-is-active::after {
    background-color: t(lvdsEternity);
}

.THIS .pc3-info__tabs .slds-tabs_default__content {
    padding: 1.5rem 2.25rem 1.5rem 3.875rem;
    margin-right: -11.125rem;
    font: t(lvdsBodyM);
}

.THIS .pc3-info__dimensions .slds-dl_horizontal {
    width: 50%;
}

.THIS .environemental__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.THIS .environemental__container--tile {
    flex: 1;
}