.THIS {
background-color: #fff;
}

/*.THIS{
    width:99%;
}*/
.THIS .fullWidth{
    width:100%;
}
.THIS .slds-listbox__item:hover {
    background: #d8edff;
    text-shadow: none;
    color: #16325c;
}

.THIS .optionParent1{
    line-height: 1.5;
    padding: 0.25rem 0.75rem;
    font-size: 0.8125rem;
}

.THIS .optionIcon {
   margin-top: 0.50rem;
}

.THIS .optionTitle{
        max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-bottom: 0.125rem;
    color: #54698d;
}

.THIS .optionline{
        display: block;
    margin-top: -0.25rem;
    color: #54698d;
}
.THIS .singleRow{
    padding-top:5px;
}

.THIS .hide{
    display:none;
}

.THIS .a.info{
    position:relative;
    z-index:24; 
    background-color:#ddd;
    color:#000;
    text-decoration: none;
}

.THIS .a.info:hover {
    z-index: 25;
    background-color: #ff0;
}

.THIS .a.info span {
    display: none;
}

.THIS .a.info:hover span {
    display:block;
    position:absolute;
    top:2em; left:2em; width:10em;
    border:1px solid #0cf;
    background-color:#555; color:#fff;
}