.THIS .valid svg {
    fill: #00c6b7;
}

.THIS .iconPosition svg {
    /* left: -1.5rem; */
    /* position: relative; */
    right: 0.25rem;
    position: absolute;
    top: 0.5rem;
}

/*.THIS .iconErrorPosition svg {
    left: -2.5rem;
    position: relative;
}*/

.THIS .intl-tel-input {
    /* width: 95%; */
    width: 100%;
}

.THIS .internationalPhone {
    font-size: smaller;
    /*left: -1.75rem;
    position: relative;*/
}