.THIS .slds-text-heading--small {
    font-weight: 700;
}

.THIS .icon {
    margin-right: 0.25rem;
}

.THIS .buttonCustom {
    color: #ffffff;
    padding: 1px 4px 2px;
    font-size: 16px;
    font-weight: bold;
    background-color: #468847;
}