.card-container{
    /* background-color: white; */
    background-image: linear-gradient(#E2E0DF,#E2E0DF,#F8F8F7);
    width:313px;
    height: 350px;
}

@media screen and (max-width: 1600px)
{
    .card-container
    {
        width: 206px;
        height: 260px;
    }
}


.card-customProductImage__c
{
    width: 90%;
    height: auto;
    
    /* max-height: 100%;
    display: flex;
    height: 270px; */
}



.title-card
{
    position: relative;
    top: 290px;
    left: 15px;
    /* width: 150px; */
}

@media screen and (max-width: 1600px)
{
.title-card
    {
        top: 202px;
        left: 4px;
        font-size: 13px;
    }
}
    
.category-card
    {
        position: relative;
        left: 233px;
        top: -11px;
        width: 65px;
        background: black;
        color: white;
        font-size: 10px;
        display: flex;
        justify-content: center;
        height: 19px;
        align-items: center;
        border-radius: 20px;

    }

    @media screen and (max-width: 1600px)
{
 .category-card
    {
        left: 152px;
        width: 50px;
        height: 17px;
    }
}

.personalized-button
    {
        position: relative;
        left: 200px;
        top: 327px;
        align-items: center;
        border-radius: 20px;
        width: 100px;


    }
    @media screen and (max-width: 1600px)
{
 .personalized-button
    {
        position:relative;
        left:116px;
        top: 238px;
        /* font-size: 13px; */
        /* width: 104px; */

    }
}
    img{
        mix-blend-mode: darken;
    }


    /* @media screen and (max-width: 1600px)
{
    .first-item
    {
        width: 25%;
    }
} */