.THIS .spo-prod-info-modal.miy-fancy-modal__content {
  margin: 0;
  padding: 0;
  text-align: left;
}
.THIS.cMIY_FancyModal .slds-modal__content {
  padding-right: 4rem;
  padding-left: 4rem;
}
.THIS .slds-form_compound .slds-form-element__row .slds-form-element + .slds-form-element, .THIS .slds-form--compound .slds-form-element__row .slds-form-element + .slds-form-element {
  margin-left: .5rem;
  padding-left: 0;
}
.THIS .slds-form_compound .slds-form-element__row .slds-form-element + .slds-form-element.slds-size_1-of-2, .THIS .slds-form--compound .slds-form-element__row .slds-form-element + .slds-form-element.slds-size_1-of-2 {
  width: calc(50% - .5rem);
}
.THIS .slds-form_compound .slds-form-element__row .slds-form-element + .slds-form-element.slds-size_1-of-3, .THIS .slds-form--compound .slds-form-element__row .slds-form-element + .slds-form-element.slds-size_1-of-3 {
  width: calc(33.3333333333% - .5rem);
}
.THIS .slds-form_compound .slds-form-element__row .slds-form-element + .slds-form-element.slds-size_2-of-3, .THIS .slds-form--compound .slds-form-element__row .slds-form-element + .slds-form-element.slds-size_2-of-3 {
  width: calc(66.6666666667% - .5rem);
}