.btn-container {
    position: absolute;
    right: 0;
}

.slds-tabs_default .slds-tabs_default__item {
    font-family: "LouisVuitton-Regular", sans-serif;
    font-size: 30px !important;
    font-weight: 500;
    line-height: 36px;
}