:host {
  width: 100%;
}
.filters-ca-selection {
  position: absolute;
  z-index: 90;
  left: 50%;
  float: left;
  top: 2rem;
  background: var(--lwc-colorBackgroundAlt, rgb(255, 255, 255));
  box-shadow: var(--lwc-shadowDropDown, 0 2px 3px 0 rgba(0, 0, 0, 0.16));
  transform: translateX(-50%);
}

.filters-ca-prefered-label {
  font-family: LouisVuitton-Medium;
  font-size: 14px !important;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #191009 !important;
  white-space: nowrap;
}
.filters-ca-prefered-input {
  cursor: pointer;
}
.filters-ca-prefered-icon {
  display: inline-flex;
  position: absolute;
  justify-content: flex-end;
  right: 6pt;
  top: 7pt;
  transform: scale(0.45);
  cursor: pointer;
}
@-moz-document url-prefix() {
  .filters-ca-prefered-input {
    padding-left: 2em;
    padding-top: 0.4em;
    box-sizing: border-box;
    height: 10px;
  }
}
.ca-list {
  max-height: 12rem !important;
}  
.actions-buttons {
  position: sticky;
}