.main {
  display: flex;
  flex-direction: row;
  margin-top: 65px;
  margin-left: 9.3vw;
  margin-right: 9.3vw;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.button__container-wrap{
  margin-top: 40px;
}
.component{
  margin-top: 60px;
}
.twist-password-field-container {
  display: flex;
  position: relative;
}

.twist-password-field-container lightning-input {
  flex-grow: 1;
  padding-top: 20px;
}

.email{
  font-weight: 500;
  word-break: break-all;
}

.side-bar__aside {
  display: flex;
  flex-direction: column;
  width: 27.6vw;
}
@media (max-width: 768px) {
  .side-bar__aside {
    width: 100%;
  }
  .component{
    margin: 0;
  }
  .button__container {
    float: none;
  }
  .component .component__title{
    margin-top: 20px;
  }
  .twist-password-field-container .eye-icon {
    position: absolute;
    right: 22px;
    bottom: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}
@media (max-width: 520px) {
  .footer {
    margin: 0 8px;
  }
}