.THIS .slds-modal__footer {
  padding-top: 0;
}
.THIS .spo-quote-sent-prompt__content {
  display: flex;
  font-size: 0.875rem;
  text-align: left;
}
.THIS .spo-quote-sent-prompt__content .slds-icon {
  margin-right: .75rem;
  fill: #b9b9b9;
}