@keyframes toggleAnimationExpand {
    from { height: 0; }
    to { height: 200px; }
}
@keyframes toggleAnimationCollapse {
    from { height: 200px; }
    to { height: 0; }
}

.wrapper {
    height: 0;
    overflow: hidden;
    padding-top: 15px;
}
.wrapper.expand {
    animation: toggleAnimationExpand 500ms ease-in-out forwards;
}
.wrapper.collapse {
    animation: toggleAnimationCollapse 500ms ease-in-out forwards;
}

.icon {
    margin-right: 5px;
    height: 16px;
}

.validText{
    color: rgb(55, 175, 67);
    padding-right: 6px;

}

.invalidText{
    color: black;
    padding-right: 6px;
}

.color-black{
    color: black;
}

.first-label{
    padding-bottom: 10px;
    padding-top: 10px;
}
