.THIS .slds-modal__content {
  padding-bottom: 1.5rem;
  overflow: visible;
}
.THIS .slds-form-element + .slds-form-element {
  margin-top: 1rem;
}
.THIS .spo-cancel-modal__notice-field {
  font-weight: 600;
}
.THIS .spo-cancel-modal__notice-field_warning {
  color: #fa424a;
}
.THIS .spo-cancel-modal__time-remaining {
  color: #3a9eff;
}