.card-container {
    border: 1px solid #E5E5E5;
}

.title-container {
    display: flex;
    align-items: center;
}

.title-container img {
    height: 25px;
    width: 25px;
}

.table-container {
    margin: 20px 0;
}

.title-text {
    margin-left: 10px;
}

.default {
    border: 2px solid #6783E5;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}
.global {
    border: 2px solid #6783E5;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.wmn_rtw {
    border: 2px solid #E59467;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.men_rtw {
    border: 2px solid #A9846F;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.leather_bag {
    border: 2px solid #4400D4;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.lg {
    border: 2px solid #CC6011;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.acc {
    border: 2px solid #67CEE5;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.wat {
    border: 2px solid #167D94;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.exotics {
    border: 2px solid #FF5F5F;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.travel {
    border: 2px solid #80DD7E;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.wmn_sho {
    border: 2px solid #9F217C;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.men_sho {
    border: 2px solid #1E9314;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.pfm {
    border: 2px solid #E0AF00;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.jew {
    border: 2px solid #E567C9;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.watch_jewelry {
    border: 2px solid #3CC8BF;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.capucines {
    border: 2px solid #BF2020;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.objnomade_hardsided {
    border: 2px solid #00CB82;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    border-radius: 5px;
}

.date-container {
    display: flex;
    font-size: 11px;
    font-weight: 300;
}

.table-details__container {
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    border: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, rgb(229, 229, 229));
    border-right: none;
}

.table-details__container--details {
    border-right: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, rgb(229, 229, 229));
    height: 100%;
}

:host {
    --sds-c-card-footer-sizing-border: 0;
    --slds-c-card-footer-spacing-block-start: 0;
    --slds-c-card-footer-spacing-inline-end: 0;
    --slds-c-card-footer-spacing-inline-start: 0;
}