.THIS.pc-results {
  padding-bottom: .75rem;
  border-bottom: 2px solid #f8f8f8;
  color: #bbbabe;
  font-weight: 300;
  text-transform: uppercase;
}
.THIS .pc-results__search {
  font-size: 1rem;
}
.THIS .pc-results__search-total {
  color: #5e4f47;
}
.THIS .pc-results__search-for::before, .THIS .pc-results__search-for::after {
  content: ' ';
}
.THIS .pc-results__search-key {
  color: #5e4f47;
  font-weight: normal;
}
.THIS .pc-results__select {
  font-size: 1rem;
  text-align: right;
}
.THIS .pc-results__select-name {
  color: #5e4f47;
}
.THIS .pc-results__select-name::before, .THIS .pc-results__select-name::after {
  content: ' ';
}
.THIS .pc-results__select-sku {
  color: #5e4f47;
  font-size: 0.75rem;
  font-weight: 600;
}