.THIS.order-page {
  position: relative;
  background: token(miyBackgroundColor);
}
.THIS.order-page .slds-form_inline .slds-form-element, .THIS.order-page .slds-form_inline .slds-form-element__control {
  display: inline;
  margin-right: 0;
  vertical-align: inherit;
}
.THIS.order-page .slds-form_inline .slds-form-element__static {
  min-height: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.THIS.order-page h1 {
  color: #000;
  font-size: 1.375rem;
  font-weight: 300;
}
.THIS.order-page_type_spo {
  background-color: #f9f8f8;
}
.THIS.order-page_type_spo .order-page-header {
  box-shadow: none;
}
.THIS.order-page_type_spo .order-page-header_form-factor_DESKTOP .order-page-header__details,
.THIS.order-page_type_spo .order-page-header_form-factor_DESKTOP .order-page-header__actions {
  padding-right: 0;
}
.THIS.order-page.slds-card {
  overflow: hidden;
}
.THIS .order-page__btn {
  position: relative;
  min-height: 1.625rem;
  padding: 0 1rem;
  border: solid token(borderWidthThin) token(miyBtnBorderColor);
  border-radius: 2rem;
  background: token(miyBtnBackgroundColor);
  color: token(miyBtnTextColor);
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1;
  box-shadow: token(miyBtnShadow);
  overflow: hidden;
}
.THIS .order-page__btn[disabled], .THIS .order-page__btn:disabled {
  color: #dddbda;
}
.THIS .order-page__btn img {
  height: token(squareIconUtilityMedium);
  margin-right: token(spacingXSmall);
  vertical-align: text-bottom;
}
.THIS .order-page__btn_active {
  background: white;
  color: token(miyBtnTextColor);
}
.THIS .order-page__btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  content: "";
  opacity: 0;
}
.THIS .order-page__btn:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
.THIS .order-page__section {
  padding: 0 1.875rem;
}
.THIS .order-page__welcome {
  padding-top: 1.6666rem;
  padding-bottom: .75rem;
  color: #71777e;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.6;
}
.THIS .order-page__welcome .slds-form-element__static {
  width: auto;
}
.THIS .order-page__welcome .slds-form-element__control {
  padding: 0;
}
.THIS .order-page__welcome-field {
  font-weight: 600;
}
.THIS .order-page__panel {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 37.5rem;
  margin-left: 0;
  box-shadow: 0 9px 16px 4px rgba(0, 0, 0, 0.12), 0 14px 8px 0 rgba(0, 0, 0, 0.08);
  z-index: 10;
}
.THIS .order-page__panel:not(.order-page__panel_open) {
  transform: translateX(calc(100% + 2rem));
}
.THIS .order-page__panel .slds-panel__header {
  flex-direction: column;
  align-items: flex-start;
  padding: 2.5rem 2.25rem 1.25rem 2.5rem;
  color: #616161;
}
.THIS .order-page__panel .slds-panel__header .slds-text-heading_small {
  line-height: 1.5;
}
.THIS .order-page__panel .slds-panel__close {
  position: absolute;
  top: 2.5rem;
  align-self: flex-end;
}
.THIS .order-page__panel .slds-panel__header-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}
.THIS .order-page__panel .slds-panel__body {
  padding: 1.5rem 2.25rem 1.25rem 2.5rem;
}
.THIS .order-page__panel .slds-panel__body .slds-form-element__row {
  margin-bottom: 1.75rem;
}
.THIS .order-page__panel .slds-panel__body .slds-form-element__row .slds-form-element + .slds-form-element {
  width: calc(50% - .5rem);
  margin-left: .5rem;
  padding-left: 0;
}
.THIS .order-page__panel .slds-panel__body .slds-form-element__label {
  font-size: .875rem;
}
.THIS .order-page__panel .slds-panel__body .slds-form-element__control,
.THIS .order-page__panel .slds-panel__body .slds-form-element__static {
  font-size: 1rem;
}
.THIS .order-page__panel .slds-panel__body .slds-form-element_readonly .slds-form-element__control {
  margin-top: 1px;
  line-height: 1.75rem;
}
.THIS .order-page__panel .slds-button-group {
  margin-top: 1rem;
}
.THIS .order-page__panel .slds-button-group .slds-button {
  font-size: .75rem;
}
.THIS .order-page__panel .slds-button-group .slds-button:not(:disabled), .THIS .order-page__panel .slds-button-group .slds-button:not([disabled]) {
  color: #0070d2;
}
@media only screen and (max-width: 47.9375em) {
  .THIS .order-page__panel {
    width: auto;
    height: auto;
  }
  .THIS .order-page__panel .slds-panel__header {
    padding: 1.25rem;
  }
  .THIS .order-page__panel .slds-panel__close {
    top: 1.25rem;
  }
  .THIS .order-page__panel .slds-panel__body {
    padding: 1.25rem;
  }
}