.THIS {
    position: absolute;
    padding-left: 0;
    /*width: 25rem;*/
    /*right: 5rem;*/
    /*width: 420px;
    top:0;
    left:0;
    pointer-events: none;*/
    right: 0;/*100%;*/
}

.THIS .slds-popover__body .slds-section__title {
    margin-bottom: -0.5rem;
}

.THIS .slds-popover__body .slds-popover__body {
    padding-left: 0;
}

.THIS .slds-popover__body-list {
    /*padding: 1rem 1rem;*/
    padding-top: .25rem;
    padding-bottom: .5rem;
}

.THIS .slds-popover__body-list:first-of-type {
    border-top: none;
}

.THIS .slds-popover__body-list dd {
    font-weight: 400;
    padding-top: 0.5rem;
    /*padding-bottom: 0.5rem;*/
}

.THIS .full {
    width: 100%;
}

.THIS.slds-popover_panel.slds-nubbin_right-top:before {
    background: white;
}