.cardBorder{
    border:1px solid lightgray;
    background-color: white;
}
.card{
    margin : 2%;
 /* box-shadow: 2px 0px 2px 0 rgba(0, 0, 0, 0.16); */
    border-radius: 5px;

}
.title{
    font-weight: bold; 
    padding:1%;
}
.title2{
    font-weight: bold; 
    font-size: 19px;
    padding:5%;
    text-transform: uppercase;
}
.title_document{
    display: flex;
    justify-content: space-between;
    cursor: not-allowed;
}