.THIS {
    color: t(lvdsEternity);
}

.THIS .pc3-availability__mypr {
    padding: 1.5rem;
    border-top: 1px solid t(lvBrandLight);
}

.THIS .pc3-availability__mypr dt {
    font-weight: 500;
    margin-right: 0.5rem;
    display: inline;
}

.THIS .pc3-availability__mypr dd {
    font-weight: 300;
    display: inline;
}

.THIS .pc3-availability__stores-section {
    padding: 1.5rem;
}

.THIS h1 {
    margin-bottom: 1.5rem;
}

.THIS .pc3-availability__store-grid {
    display: grid;
}

.THIS .pc3-availability__store-grid_type_digital {
    grid-template-columns: 3fr repeat(3, 1fr);
    margin-bottom: 1.5rem;
}

.THIS .pc3-availability__store-grid_availability{
    grid-template-columns: 1fr 1fr 3fr;
    margin-bottom: 1.5rem;
}

.THIS h2 {
    font: t(lvdsListItemLMed);
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.THIS .slds-text-color_success {
    color: t(lvdsGreen);
}

.THIS .slds-text-color_error {
    color: t(lvdsRed);
}

.THIS .pc3-availability__stores-display {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 1rem;
}

.THIS .pc3-availability__stores-display-radio {
    flex-grow: 1;
}

.THIS .pc3-availability__stores-display-radio .slds-form-element__control {
    display: flex;
}

.THIS .pc3-availability__stores-display-radio .slds-form-element__label {
    font-size: 1rem;
    margin-right: 1rem;
}

.THIS .slds-radio .slds-radio_faux,
.THIS .slds-radio [type=radio]:checked+.slds-radio__label .slds-radio_faux::after {
    border-radius: 2px;
}

.THIS .slds-radio [type=radio]:not(:checked)+.slds-radio__label .slds-radio_faux {
    border-color: t(lvdsWestarGrey);
}

.THIS .slds-radio [type=radio]:checked+.slds-radio__label .slds-radio_faux {
    border-color: t(lvdsEternity);
}

.THIS .slds-radio [type=radio]:checked+.slds-radio__label .slds-radio_faux::after {
    background-color: t(lvdsEternity);
}

.THIS .pc3-availability__stores-search .slds-input {
    border-radius: 1rem;
    border: none;
    background: t(lvdsWestarGrey30);
}

.THIS .pc3-availability__store-grid_type_physical {
    padding: 0 1.25rem 1rem;
    grid-template-columns: 1.5rem 0.5rem 1fr auto auto;
    border-top: 1px solid t(lvdsWestarGrey70);
    line-height: 2;
    overflow-y: auto;
    max-height: 25rem;
    gap: 0 0.75rem;
}

.THIS h3 {
    color: #9B9793;
    font-weight: 500;
}

.THIS .pc3-availability__store-grid_type_physical h2 {
    padding: 1rem 0;
    margin-bottom: 0;
    position: sticky;
    top: 0;
    background: white;
    line-height: 1;
    z-index: 1;
}

.THIS .slds-button__icon {
    vertical-align: baseline;
    transition: all 300ms;
}

.THIS .pc3-availability__stock-dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: t(lvdsRed);
    border-radius: 50%;
    align-self: center;
    justify-content: center;
}

.THIS .pc3-availability__stock-dot_in-stock {
    background-color: t(lvdsGreen);
}

.THIS .pc3-availability__store-grid-cell_col_stock {
    justify-content: center;
    text-align: center;
    margin: 0 1rem;
}

.THIS .pc3-availability__store-hours {
    grid-column: 2 / 4;
    max-height: 0;
    transition: all 300ms;
    border-bottom: solid 1px transparent;
    overflow: hidden;
    font: t(lvdsListItemMLight);
}

.THIS .pc3-availability__store-hours_expanded {
    max-height: 18.5rem;
    margin-bottom: 1.25rem;
    border-bottom-color: t(lvdsWestarGrey30);
}

.THIS .pc3-availability__store-hours-expand-btn_expanded .slds-button__icon {
    transform: rotate(90deg);
}
.THIS .pc3-availability__store-hours-title {
    font: t(lvdsListItemMReg);
}
.THIS .pc3-availability__store-hours-map {
    margin: 0.5rem 0;
    font: t(lvdsListItemMReg);
    color: inherit;
    text-decoration: underline;
    display: block;
}

.THIS .pc3-availability__store-hours-map .slds-icon_container {
    margin-right: 0.75rem;
    vertical-align: text-top;
}
.THIS .pc3-availability__store-hours-clear {
    grid-column: 4 / 6;
}