.THIS.toggle {
    display: none;
}

.THIS .slds-icon-standard-case {
    background-color: transparent;
}

.THIS .slds-icon-standard-case svg {
    fill: #54698D;
}

/* Less space in progress bar */
/*.THIS .slds-grid {
    margin-top: -3px;
}*/

.THIS .buttonFixed {
    position: fixed;
    bottom: 0px;
    width: 100%;
	text-align: center;
    padding: .75rem 1rem;
    background-color: rgb(244, 246, 249);
    /*text-align: right;*/
}

/*.THIS .slds-tabs_path .slds-is-complete .slds-tabs_path__link, 
.THIS .slds-tabs_path .slds-is-complete .slds-tabs--path__link, 
.THIS .slds-tabs--path .slds-is-complete .slds-tabs_path__link, 
.THIS .slds-tabs--path .slds-is-complete .slds-tabs--path__link {
    color: white;
}*/

/*.THIS .slds-button {
	margin: auto;
}*/

/* modal for client edit mode */
.THIS .modalClientEdit {
    display: grid;
    width: auto;
    position: absolute;   
    top: -60px;
}

/* modal with ui:inputDate align in Horizontal form (client edit page) */
.THIS .slds-form--horizontal .uiInput--input .input, .THIS .slds-form--horizontal .uiInput--input.input {
    width: 66%;
}

/* Icon date picker (to work on .app and .cmp) */
.THIS .uiInputDate .datePicker-openIcon {
    position: absolute;
    left: 88%;
    top: 10%;/*27%;*/
}

/*.THIS .buttonNext {
    color: #ffffff;
    background-color: #468847;
    font-size: 16px;
}*/