.THIS .slds-file-selector__dropzone .slds-file-selector__text {
	display:none;
}
.THIS .slds-file-selector__dropzone{ /*the border around*/
    border: none;
}
.THIS .slds-file-selector__dropzone .slds-file-selector__button .slds-button__icon{ /*For the icon*/
    display: none;
}
/*To override the text, you'll need to set the size of the current text to 0 and to add some content to the before selector of the button*/
.THIS .slds-file-selector__dropzone .slds-file-selector__button{
    font-size: 0;
}
.THIS .slds-file-selector__dropzone .slds-file-selector__button:before{
    content: 'Choose File';
    font-size: 0.75rem; /*Default token for font size 0.75rem*/
    color: #0070d2; /*Default token for brand color #0070d2*/
}
.THIS .AttachementBox{
    max-width: 400px;	
    padding: 15px;
  	margin: 15px ;
    max-height : 300px;
    border: solid #DDDDDD 0.5px;
    border-radius: 10px;
    font-size: 0.75rem; 
    color: #0070d2;
    box-shadow: 3px 3px 3px #DDDDDD;
    
}

.THIS .RightPostion{
   text-align: right;

}
.THIS .buttonDelete{
    width : auto;
    height : auto;
    border: none;
    background-color : white;
    color: DDDDDD;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    border: solid #DDDDDD 0.5px;
    font-size: 0.85em;
    
}