.THIS {
  color: #4a4a4a;
  font-size: 0.8125rem;
  white-space: nowrap;
}
.THIS .pc-warehouse-availability__zone {
  display: inline-block;
  min-width: 5.375rem;
  margin-right: 0.75rem;
}
.THIS .pc-warehouse-availability__text {
  display: inline-block;
  color: #4a4a4a;
  font-weight: 500;
}
.THIS .pc-warehouse-availability__text_availability_orderable {
  color: #67a421;
}
.THIS .pc-warehouse-availability__text_availability_not-orderable {
  color: #db3f15;
}
.THIS .pc-warehouse-availability__text_availability_sc-validation {
  color: #fc8231;
}