.birthdate {
    padding-bottom: 4px !important;
    pointer-events: auto;
}

.mobile .birthdate {
    padding-bottom: 26px !important;
}

.registration-chevron {
    transform: unset;
    top: 18px;
    cursor: pointer;
    pointer-events: none;
    z-index: 1 !important;
}

.mobile .registration-chevron {
    display: block;
    position: absolute;
    top: 42% !important;
    right: 22px !important;
    transform: translateY(-40%) !important;
    max-width: 16px !important;
}

.birthdate-overlay {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -12px;
    pointer-events: none;
}

.rtl .birthdate-overlay {
    text-align: right;
}

.mobile .birthdate-overlay {
    margin-top: 0 !important;
}

.help-text{
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #767676; 
    font-family: "Louis Vuitton";
}

.hidden-input-logo__wrapper:has(.birthdate-overlay .slds-form-element__help) + .help-text {
   margin-top: 1.3em;
}


