@mixin placeholders {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @content;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    @content;
    opacity: 1;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    @content;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    @content;
  }
}
@mixin headings($size, $weight, $alignment, $color) {
  $size-list: (3, 2.5, 2.125, 1.5, 1.25, 1.125, 1);

  @if $color == dark {
    color: $eternity;
  } @else if $color == light {
    color: $white;
  }
  font-size: #{nth($size-list, $size)}rem;
  @if $weight == bold {
    font-weight: bold;
  }
  @if $size < 6 {
    letter-spacing: #{(-6 + $size)/5}px;
  }
  @if $size == 3 {
    line-height: 1.06;
  } @else if $size == 6 {
    line-height: 1.11;
  } @else {
    line-height: 1;
  }
  text-align: $alignment;
}
@mixin body($size, $alignment, $color) {
  $sizes: (L: 1.25rem, M: 1.125rem, S: 1rem, XS: 0.875rem, XXS: 0.75rem);
  $letter-spacings: (L: 1.2px, M: 1px, S: 0.8px, XS: 0.6px, XXS: 0.8px);
  $line-heights: (L: 1.6, M: 1.56, S: 1.5, XS: 1.43, XXS: 1.33);

  @if $color == dark {
    color: $eternity;
  } @else if $color == light {
    color: $white;
  }
  font-size: map-get($sizes, $size);
  font-weight: 300;
  letter-spacing: map-get($letter-spacings, $size);
  line-height: map-get($line-heights, $size);
  text-align: $alignment;
}
@mixin list-label($size, $weight, $alignment, $color) {
  $sizes: (L: 1rem, M: 0.875rem, S: 0.75rem);
  $line-heights: (L: 1.25, M: 1.14, S: 1.33);

  @if $color == dark {
    color: $eternity;
  } @else if $color == light {
    color: $white;
  }
  font-size: map-get($sizes, $size);
  @if $weight == medium {
    font-weight: 500;
  }

  @if ($size == L && $weight == medium)  {
    letter-spacing: 0.4px;
  } @else {
    letter-spacing: 0.8px;
  }

  line-height: map-get($line-heights, $size);
  text-align: $alignment;
}
@mixin buttons-links($alignment, $color) {
  @if $color == dark {
    color: $eternity;
  } @else if $color == light {
    color: $white;
  }
  font-size: 1rem;
  letter-spacing: 0.7px;
  line-height: 1;
  text-align: $alignment;
}
@mixin navigation($alignment, $color) {
  @if $color == dark {
    color: $eternity;
  } @else if $color == light {
    color: $white;
  }
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.9px;
  line-height: 1.33;
  text-align: $alignment;
}
@mixin overline($weight, $alignment) {
  color: $Safran;
  font-size: 0.875rem;
  @if $weight == medium {
    font-weight: 500;
  } @else {
    font-weight: $weight;
  }
  letter-spacing: 0.9px;
  line-height: 1;
  text-align: $alignment;
}
@mixin titles($size, $alignment, $color) {
  $sizes: (L: 0.75rem, M: 0.75rem, S: 0.6875rem);
  $font-weights: (L: bold, M: 500, S: normal);
  $letter-spacings: (L: 1px, M: 0.6px, S: 0.6px);
  $line-heights: (L: 1, M: 1, S: 1.09);

  @if $color == dark {
    color: $eternity;
  } @else if $color == light {
    color: $white;
  }
  font-size: map-get($sizes, $size);
  font-weight: map-get($font-weights, $size);
  letter-spacing: map-get($letter-spacings, $size);
  line-height: map-get($line-heights, $size);
  text-align: $alignment;
}