.main{
  margin-left: 26.3vw;
}
.side-bar__aside {
  display: flex;
  flex-direction: column;
  width: 27.6vw;
}
@media (max-width: 768px) {
  .main {
    padding: 24px;
    min-height: calc(100vh - 428px);
    margin: auto;
  }
  .side-bar__aside {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .main {
    padding: 48px 24px 24px 24px;
    min-height: calc(100vh - 428px);
    margin: auto;
  }
}