.page_layout {
    /* width: 80%; */
    justify-content: center;
    border-radius: 7px;
    background: white;
    box-shadow: 6px 7px 12px gray;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    width: 70%;
}

.title {
    font-size: 30px;
    justify-content: center;
    display: flex;
    font-weight: 500;
}

.sub_title {
    font-size: 20px;
    justify-content: center;
    display: flex;

}

.margin_bottom {
    margin-bottom: 50px;

}

.margin_bottom_small {
    margin-bottom: 25px;

}

.display_flex {
    display: flex;
}

.form_center_content {
    display: flex;
    justify-content: space-between;
}

.description_style {
    width: 50%;
}

.description_content {
    --sds-c-textarea-sizing-min-height: 190px;


}

.toolkit_comment {
    --sds-c-textarea-sizing-min-height: 175px;
}

.margin_right {
    margin-right: 5px;

}

.file_content {
    width: 30%;
}