.tileList__container {
    border-top: 1px solid rgba(174, 174, 174, 1);
    padding-top: 30px;
}

.slds-card {
    background: rgb(243, 242, 242);
}

.search-bar {
    display: block;
    margin: 0 0.5rem 0.3rem 0.5rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

c-icx_order-shipping-tile {
    min-width: 100px;
    flex: none;
}