.THIS {
}

.THIS .uiInput--select.select {
    color: #5e4f47;
    padding: 0 1.25rem 0 0.25rem;
    height: 1.6rem;
    line-height: 1.6rem;
    border-radius: 0;
    border-color: #dcdad9;
}

.THIS option:disabled {
    color: #f3efed;
}