.table-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    border: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, rgb(229, 229, 229));
    padding: 20px;
}

.grid-table {
    overflow: scroll;
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 20px;
    border: 1px solid #D3D3D3;
}

.grid-title {
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    padding: 10px;
    background-color: #F3F2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-container {
    width: 200px;
    min-width: 200px;
}