.productContainer {
    display: flex;

}


    .label-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .label-text {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    .red-asterisk {
        color: red;
    }