$eternity: #19110b;
$birch: #392d23;
$sandstone: #7c6e65;
$Safran: #d6852a;
$VVN: #dfc7b7;
$WestarGrey-70: #eae8e4;
$WestarGrey-50: #f2efeb;
$WestarGrey-30: #f6f5f3;
$WestarGrey: #e1dfd8;
$white: #ffffff;
$Orange: #ea6100;
$Green: #5c7e08;
$Red: #c53929;