.THIS.firm-order-list-item {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 5px 0 token(miyShadowColor);
  overflow: hidden;
}
.THIS.firm-order-list-item .slds-path__track {
  padding: 0;
}
.THIS.firm-order-list-item .slds-path__nav .slds-is-incomplete {
  background: white;
}
.THIS.firm-order-list-item .slds-path__nav .slds-is-incomplete::before, .THIS.firm-order-list-item .slds-path__nav .slds-is-incomplete::after {
  border: solid #dee7eb;
  border-width: 0 1px 0 0;
  background: white;
}
.THIS.firm-order-list-item .slds-path__nav .slds-is-incomplete:last-child::before, .THIS.firm-order-list-item .slds-path__nav .slds-is-incomplete:last-child::after {
  border: none;
}
.THIS.firm-order-list-item .slds-path__nav .slds-is-incomplete .slds-path__link {
  color: #cfd7db;
}
.THIS.firm-order-list-item .slds-path__nav .slds-is-incomplete .firm-order-list-item__path-icon {
  border-color: #e0e5e8;
  background-color: #e0e5e8;
}
.THIS.firm-order-list-item .slds-path__nav .slds-is-active, .THIS.firm-order-list-item .slds-path__nav .slds-is-active::before, .THIS.firm-order-list-item .slds-path__nav .slds-is-active::after {
  background: #f1f5f7;
}
.THIS.firm-order-list-item .slds-path__nav .slds-is-active .slds-path__link {
  color: #4F5B60;
}
.THIS.firm-order-list-item .slds-path__item:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0.5rem;
}
.THIS.firm-order-list-item .slds-path__item:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0.5rem;
}
.THIS.firm-order-list-item .slds-path__item::before, .THIS.firm-order-list-item .slds-path__item::after {
  cursor: default;
}
.THIS.firm-order-list-item .slds-path__link {
  text-decoration: none;
  text-transform: uppercase;
  cursor: default;
}
.THIS.firm-order-list-item_checkable .firm-order-list__checkbox {
  border-right: 1px solid #e1e1e1;
}
.THIS.firm-order-list-item_status_order-placed .firm-order-item-details__status-badge {
  background: #3cc4bd;
}
.THIS.firm-order-list-item_status_in-production .firm-order-item-details__status-badge {
  background: #ffc91c;
}
.THIS.firm-order-list-item_status_in-delivery .firm-order-item-details__status-badge {
  background: #ee981c;
}
.THIS.firm-order-list-item_status_in-store .firm-order-item-details__status-badge {
  background: #6da9e8;
}
.THIS.firm-order-list-item_status_dlvd-to-client .firm-order-item-details__status-badge {
  background: #5bc983;
}
.THIS.firm-order-list-item_cancelled .firm-order-item-details__status-badge {
  background: black;
}
.THIS.firm-order-list-item_checked {
  background: #f6f6f6;
}
.THIS .firm-order-list-item__path {
  position: relative;
  border-top: 1px solid #e7ebf1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #ffffff;
  font-size: 0.8125rem;
  overflow: hidden;
}
.THIS .firm-order-list-item__path .slds-form-element__icon {
  margin-left: 0.25rem;
  padding-top: 0;
  vertical-align: text-bottom;
}
.THIS .firm-order-list-item__path-icon {
  display: inline-flex;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 0.625rem;
  border: 1px solid;
  border-radius: 50%;
  box-sizing: content-box;
}
.THIS .firm-order-list-item__path-icon::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 50%;
  content: '';
}
.THIS .firm-order-list-item__path-icon img {
  width: 100%;
  height: 100%;
  padding: 0.3125rem;
}
.THIS .firm-order-list-item__path-icon_status_order-placed {
  border-color: #3cc4bd;
  background-color: #3cc4bd;
}
.THIS .firm-order-list-item__path-icon_status_in-production {
  border-color: #ffc91c;
  background-color: #ffc91c;
}
.THIS .firm-order-list-item__path-icon_status_in-delivery {
  border-color: #ee981c;
  background-color: #ee981c;
}
.THIS .firm-order-list-item__path-icon_status_in-store {
  border-color: #6da9e8;
  background-color: #6da9e8;
}
.THIS .firm-order-list-item__path-icon_status_dlvd-to-client {
  border-color: #5bc983;
  background-color: #5bc983;
}
.THIS .firm-order-list-item__img-btn {
  border: none;
  border-radius: 0;
  background: none;
}
.THIS .firm-order-list-item__carousel {
  position: relative;
  width: 100%;
  max-height: 0;
  margin-bottom: -1px;
  padding: 0 3rem 0 4.5rem;
  transition: max-height token(durationPromptly);
  border-top: 1px solid #e7ebf1;
  background-color: #ffffff;
  overflow: hidden;
  pointer-events: none;
}
.THIS .firm-order-list-item__carousel::before, .THIS .firm-order-list-item__carousel::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  z-index: 2;
}
.THIS .firm-order-list-item__carousel::before {
  box-shadow: inset 6rem 0 1.5rem -1.5rem white;
}
.THIS .firm-order-list-item__carousel::after {
  box-shadow: inset -4.5rem 0 1.5rem -1.5rem white;
}
.THIS .firm-order-list-item__carousel_expanded {
  max-height: calc((((100vw - 11.25rem) / 4) + 1.5rem) + 1px);
  margin-bottom: 0;
}
.THIS .firm-order-list-item__item-wrap {
  margin: 1.5rem 0.75rem;
  border: solid 1px #ced9e0;
  pointer-events: all;
}
.THIS .firm-order-list-item__slide-wrap {
  position: relative;
  left: 0;
  width: calc(100% - 6rem);
  transition: all token(durationPromptly);
}
.THIS .firm-order-list-item__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1.625rem;
  margin: 0;
  border-radius: 0;
  z-index: 3;
  pointer-events: all;
  box-sizing: content-box;
}
.THIS .firm-order-list-item__arrow_dir_left {
  left: 0;
  padding-left: 3rem;
}
.THIS .firm-order-list-item__arrow_dir_right {
  right: 0;
  padding-right: 1.5rem;
}
.THIS .firm-order-list-item__cancel-cover {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  background: rgba(0, 0, 0, 0.68);
  color: #fdfdfe;
  font-weight: 600;
  z-index: 10;
}
.THIS .firm-order-list-item__cancel-cover .slds-button_icon {
  color: white;
}
.THIS .firm-order-list-item__cancel-cover .slds-button_icon:hover {
  color: rgba(255, 255, 255, 0.75);
}