.button__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 20px;
    max-width: 100%; ;
}

.twist-password-field-container {
    display: flex;
    position: relative;
}

.twist-password-field-container lightning-input {
    flex-grow: 1;
}

.twist-password-field-container .eye-icon {
    position: absolute;
    right: 22px;
    bottom: 19px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}


@media(max-width: 768px) {
    .button__container {
        align-items: center;
        width: 100%;
        padding-bottom: 40px;
    }
    .registers{
        padding-right: 0;
        margin: 0;
    }
    .component .component__form .button__container-wrap{
        width: 100%;
    }
    .success-message{
        height: 84px;
    }
    .form__input_email {
        margin-bottom: 12px;
    }  
    .form__input_password {    
        margin-bottom: 12px;
    }
}

.button__container .register__text {
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #000;
}

.button__container .register__link {
    font-size:       16px;
    font-weight:     400;
    font-stretch:    normal;
    font-style:      normal;
    line-height:     24px;
    letter-spacing:  0.4px;
    text-align:      left;
    color:           #000;
    text-decoration: underline;
}


@media(max-width: 990px) {
    .form__text {
        padding-bottom: 24px;
    }
    .button__container .register__text {
        text-align: center;
        padding-top: 8px;
        font-size: 18px;
    }
    .button__container .register__link {
        display:flex;
        justify-content: center;
        font-size: 18px;
    }
}

.arrow-back {
    cursor: pointer;
}
.arrow-back .arrow-icon{
    padding-right: 10px;
    width: 32px;
}
.email_forget_password{
    padding-top: 20px;
}
.component__text_back_to_login{
    font-family: Louis Vuitton;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
}
 
.field-form-error-message {
    font-size: 24px;
    color: #c53929;
  }