@font-face {
  font-family: 'Louis Vuitton Light';
  src: url('./LOUISVUITTON-LIGHT.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Louis Vuitton Light Oblique';
  src: url('./louisvuitton-lightoblique-webfont.eot?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A') format('embedded-opentype'), url('./LOUISVUITTON-LIGHTOBLIQUE.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  src: url('./LOUISVUITTON-LIGHTOBLIQUE.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Louis Vuitton Regular';
  src: url('./LOUISVUITTON-REGULAR.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Louis Vuitton Oblique';
  src: url('./LOUISVUITTON-OBLIQUE.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Louis Vuitton Medium';
  src: url('./LOUISVUITTON-MEDIUM.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Louis Vuitton Medium Oblique';
  src: url('./LOUISVUITTON-MEDIUMOBLIQUE.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Louis Vuitton Demi';
  src: url('./LOUISVUITTON-DEMI.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Louis Vuitton Demi Oblique';
  src: url('./LOUISVUITTON-DEMIOBLIQUE.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Louis Vuitton Bold';
  src: url('./LOUISVUITTON-BOLD.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Louis Vuitton Bold Oblique';
  src: url('./LOUISVUITTON-BOLDOBLIQUE.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Louis Vuitton';
  src: url('./LOUISVUITTON-LIGHT.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Louis Vuitton';
  src: url('./LOUISVUITTON-LIGHTOBLIQUE.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Louis Vuitton';
  src: url('./LOUISVUITTON-REGULAR.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Louis Vuitton';
  src: url('./LOUISVUITTON-OBLIQUE.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Louis Vuitton';
  src: url('./LOUISVUITTON-MEDIUM.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Louis Vuitton';
  src: url('./LOUISVUITTON-MEDIUMOBLIQUE.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Louis Vuitton';
  src: url('./LOUISVUITTON-DEMI.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Louis Vuitton';
  src: url('./LOUISVUITTON-DEMIOBLIQUE.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Louis Vuitton';
  src: url('./LOUISVUITTON-BOLD.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Louis Vuitton';
  src: url('./LOUISVUITTON-BOLDOBLIQUE.OTF?orgId=00Di0000000HF7A&orgId=00Di0000000HF7A&orgId=00Di0000000HF7A');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Louis Vuitton Arabic";
  font-weight: 300;
  font-style: normal;
  src: url("./AvenirW05-Light.woff2?orgId=00Di0000000HF7A") format("woff2"), url("./AvenirW05-Light.woff?orgId=00Di0000000HF7A") format("woff");
}

@font-face {
  font-family: "Louis Vuitton Arabic";
  font-weight: 400;
  font-style: normal;
  src: url("./AvenirW05-Regular.woff2?orgId=00Di0000000HF7A") format("woff2"), url("./AvenirW05-Regular.woff?orgId=00Di0000000HF7A") format("woff");
}

@font-face {
  font-family: "Louis Vuitton Arabic";
  font-weight: 500;
  font-style: normal;
  src: url("./AvenirW05-Medium.woff2?orgId=00Di0000000HF7A") format("woff2"), url("./AvenirW05-Medium.woff?orgId=00Di0000000HF7A") format("woff");
}

@font-face {
  font-family: "Louis Vuitton Arabic";
  font-weight: 600;
  font-style: normal;
  src: url("./AvenirW05-Heavy.woff2?orgId=00Di0000000HF7A") format("woff2"), url("./AvenirW05-Heavy.woff?orgId=00Di0000000HF7A") format("woff");
}

@font-face {
  font-family: "Louis Vuitton Arabic";
  font-weight: 700;
  font-style: normal;
  src: url("./AvenirW05-Black.woff2?orgId=00Di0000000HF7A") format("woff2"), url("./AvenirW05-Black.woff?orgId=00Di0000000HF7A") format("woff");
}