.card-container {
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* cursor: pointer; */
}
.cursor-pointer:hover{
    border-color: gray;

}
.cursor-pointer{
    cursor: pointer;

}

.card-container__img {
    max-height: 150px;
    margin: auto;
    display: block;
}

.body-container {
    padding: 10px;
}

.title-card {
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.subtitle-card {
    color: rgba(0, 0, 0, 0.5);
}

.footer-container {
    border-top: 1px solid #F3F3F3;
    padding: 10px 10px 35px;
}

.details-card {
    font-weight: 500;
}

.description-card {
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-card img {
    width: 15px;
}

.description-card__description {
    margin-left: 11px;
}