.container {
    border: 1px solid #E5E5E5;
    font-size: 11px;
    /* border-radius: 10px; */
    table-layout: fixed;
    /* border-collapse: inherit; */
}

.title-container {
    background-color: #F3F3F3;
    height: 40px;
    /* border-radius: 10px 10px 0 0; */
    position: sticky;
    z-index: 3;
    top: 0px;
}

.title-container__header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E5E5E5;
    border-radius: 6px 6px 0 0;
    background-color: #F9F9F9;
    font-weight: 500;
    font-size: 13px;
}

.mbi {
    width: 20px;
    margin-left: 12px;
}

.mbi:disabled {
    background: #999;
    color: #555;

}

.merge-action {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    font-weight: 300;
    margin-top: 3rem;
    font-size: 30px;
    color: aliceblue;
    border-color: #93b4dd;
    border-radius: 3px;
    border: solid 1px #93b4dd;
    background-color: #5192E0;
    cursor: pointer;
}

.merge-action:disabled {
    background: #999;
    color: #555;
    cursor: not-allowed;
}

.merge-button-container {
    display: flex;
    justify-content: end;
}



.button-redirection {
    margin: 5px 18px 5px auto;
}

.special-button-wrapper {
    padding-top: 10px;
    width: 26%;
    padding-right: 8px;

}

.special-button {
    background-color: rgb(90, 142, 224);
    border-radius: 5px;
    color: white;
    border: none;
    width: 100%;
    height: 1.6rem;
    font-weight: 300;
}

.title-container__header img {
    width: 23px;
    margin: 10px;
}

.title-container th {
    padding: 0 9px;
}

.subtitle-text {
    display: flex;
    margin-bottom: 8px;
    color: #797979;
}

.filter-icon {
    margin-left: 3px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.container__byMonth--title {
    padding: 0px;
    background-color: #F3F3F3;
    font-weight: 700;
    border: 1px solid #E5E5E5;
}

.row-whith-border {
    border-bottom: 1px solid #e5e5e5;
}

.row-colors {
    padding: 30px 0;
    border-top: 1px solid #E5E5E5;
}

.row-colors:first-child {
    border: none;
}

.row__case {
    padding: 28px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.small-image {
    margin: -28px -10px;
    height: 100px;
    width: 100px;
}

.row-colors:nth-child(odd) {
    background-color: #F3F3F3;
}

.row-colors:nth-child(even) {
    background-color: #fff;
}

:host .filter-icon {
    --lwc-borderWidthThin: none;
}

.cursor-pointer {
    cursor: pointer;
}

.rows-hover:hover {
    background-color: #ebebeb;
}

.title-navigation:hover {
    color: #43689d;
    text-decoration: underline;
    font-weight: bold;

}

.title-bold {
    font-weight: bold;
}

.inline {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.inline-noFlex {
    vertical-align: top;
    width: 100%;
    justify-content: space-around;
}

.container__iconText {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.container__iconText--icon {
    height: 20px;
    padding-right: 10px
}

.container__iconText--icon {}


.text-style {
    font-weight: bold;
}