.filters-holder {
  margin-left: 10pt;
}
.filter-wrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}
.filter-wrapper-column {
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
}