.THIS .inputTop {
    align-self: baseline;
}

/* Date picker */
.THIS .slds-dropdown-trigger {
    width: 100% !important;
}

.THIS .googleSearch {
    padding: 0 29.5rem .5rem 27rem;
    position: absolute;
    z-index: 2; /* See Google results above Text fields and Flag country inphone fields */
    width: 100%;
}