.main {
    display: flex;
    flex-direction: row;
    margin-left: 9.3vw;
    margin-right: 9.3vw;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 92px;
    padding-top: 64px;
    min-height: calc(100vh - 236px);  
  }
  .side-bar__aside {
    display: flex;
    flex-direction: column;
    width: 27.6vw;
  }

  .main__section {
    width: 45.41vw;
  }
 
  .footer {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    .main {
      flex-direction: column;
      max-width: 620px ;
      margin: auto;
      padding: 66px 24px 24px 24px;
    }
    .side-bar__aside {
      width: 100%;
      padding-bottom: 40px;
    }
    .main__section {
      width: 100%;
    }
    .footer {
      flex-direction: column;
      max-width: 620px ;
      margin: auto;
    }
  }
  @media (max-width: 520px) {
    .main {
      max-width: 100%;
      margin: 0 8px;
    }
    .footer {
      max-width: 100%;
    }
  }
 