@import url("/resource/LVFont/font-faces.css");
.THIS {
  font-family: 'Louis Vuitton', Futura, sans-serif;
}
.THIS.pc-price {
  padding-top: 0.75rem;
  border-top: 2px solid #f8f8f8;
}
.THIS.pc-price .slds-card__body {
  padding: 0.75rem 1rem 0;
  border-top: 2px solid #f8f8f8;
}
.THIS .pc-price__header {
  margin-bottom: 1.5rem;
  color: #5e4f47;
  font-size: 1rem;
  text-transform: uppercase;
}
.THIS .pc-price__header::before {
  display: inline-block;
  width: 23px;
  height: 25px;
  margin-right: 0.5rem;
  background: url('data:image/svg+xml,%3Csvg viewBox="0 0 23 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cg stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"%3E%3Cg transform="translate(-863.000000, -815.000000)" fill-rule="nonzero" stroke="rgba(109, 75, 58, 0.5)"%3E%3Cg transform="translate(876.000000, 825.636364) rotate(120.000000) translate(-876.000000, -825.636364) translate(864.000000, 818.000000)"%3E%3Cpath d="M6.77542201,0.5 L0.65853889,7.63636364 L6.77542201,14.7727273 L23.5,14.7727273 L23.5,0.5 L6.77542201,0.5 Z"%3E%3C/path%3E%3Ccircle cx="7.09090909" cy="7.63636364" r="1.63636364"%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E') center no-repeat;
  content: '';
  vertical-align: bottom;
}
.THIS .pc-price__placeholder {
  position: relative;
  width: 100%;
  min-height: 4.625rem;
  padding: 1.75rem;
  color: #bbbabe;
  font-size: 1rem;
  font-style: oblique;
  font-weight: 300;
  line-height: 1.15;
  text-align: center;
}
.THIS .pc-price__table {
  margin-bottom: 0.75rem;
  margin-left: 2rem;
  color: #5e4f47;
  font-size: 0.875rem;
  /*margin-left: 17px;*/
}
.THIS .pc-price__table th {
  color: #bbbabe;
  font-weight: 300;
  text-transform: uppercase;
}
.THIS .pc-price__table .label {
  display: block;
  width: 99%;
  font-size: 12px;
  line-height: 1em;
  text-align: left;
  line-break: unset;
}
.THIS .pc-price__table-cell_col_country, .THIS .pc-price__table-cell_col_price {
  width: 15%;
  font-weight: 300;
}
.THIS .pc-price__table-cell_col_country {
  text-align: left;
}
.THIS .pc-price__table-row {
  height: 2.5rem;
}
.THIS .pc-price__table-row .pc-price__table-cell_col_country {
  color: #191919;
}
.THIS .pc-price__price {
  color: #191919;
}
.THIS .pc-price__countries {
  max-height: 0;
  transition: all 300ms;
  border-bottom: solid 2px transparent;
  overflow: hidden;
}
.THIS .pc-price__countries-title {
  margin-bottom: 0.25rem;
  padding: 0 2.25rem;
  line-height: 1.75rem;
}