/* Label when a color is selected */
.THIS .colorLabelSelected {
    vertical-align: 18px;
    margin-left: 10px;
    font-size: smaller;
}

.THIS .slds-card__body {
    /*padding: 0 16px 16px 12px;*/
    display: flex;
}

.THIS .slds-card__body > div {
 	flex: 1;
    padding: 8px 16px 0 16px;
}

.THIS .fieldset {
    width: 100%;
    text-align: justify; /* to align color selected*/
}

.THIS .resetButton {
    text-align: right;
    background-color: inherit !important;
    padding: inherit;
    font-size: small;
    text-align: center;
}

.THIS .disabledStyle {
    opacity: 0.5;
    pointer-events: none;
}

.THIS .slds-button_neutral, .THIS .slds-button--neutral{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/*.THIS .fieldsetRead {
    width: 50%;
}*/

.THIS .material_inside_warning {
    word-wrap: normal;
    width:90%;
}

.THIS .popoverTooltip {
    max-width: 26rem !important;
    position:absolute !important;
    top: -0.875rem;
    left: -1rem;
    transform: translateX(-100%);
    white-space: pre-line;
}

.THIS .slds-icon{
    width: 1.1rem !important;
}