.table-container {
    margin-bottom: 20px;
}

.product-list {
    overflow-x: auto;
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 20px;
    border: 1px solid #D3D3D3;
}


.grid-container {
    width: 160px;
    min-width: 160px;
}